
html{
  overflow: hidden !important;
}
.border-blue{
  border: 4px solid #268dfb;
}
.bg-white-5{
  background-color: rgba(255, 255, 255, 0.5) !important;
}
.bg-black-5{
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.bg-blue-5 {
  background-color: #268dfb80;
}
.bg-blue-grad{
  background: linear-gradient(to right, rgb(38, 141, 251) 0%, rgb(19, 199, 104) 100%);
  color: white !important;
}
.bg-blue-grad-5{
  background: linear-gradient(to right, rgb(38, 141, 251, 0.5) 0%, rgb(19, 199, 104, 0.5) 100%);
}
.border-blue-btm{
  border-bottom: 1px solid #268dfb;
}
.textguideScroll{
  /* height: 50vh; */
  overflow-y:auto;
}
.card-bg-img-black > .v-responsive__sizer {
  background-color: rgba(0, 0, 0, 0.5) !important
}
.card-bg-img-grey > .v-responsive__sizer {
  background-color: rgba(158, 158, 158, 0.5) !important
}
#scroll-target{
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
}
.bande-bg{
  position: absolute;
  height: 80px;
  width: 100%;
  border: 2px solid rgb(19, 199, 104);
}
.bande-bg.right{
  clip-path: polygon(55% 0, 100% 0, 100% 100%, 50% 100%);
}
.bande-bg.left{
  clip-path: polygon(0 0, 55% 0, 50% 100%, 0 100%);
}
.border-bande{
  position: absolute;
  height: 80px;
  width: 100%;
}
.is-scroll{
  overflow-y:auto;
}
.is-invisible-scroll::-webkit-scrollbar{
  display: none;
}
.cursor{
  cursor: pointer;
}